<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>Myo Mapper</string>
    <key>CFBundleIconFile</key>
    <string>Icon.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.balandinodidonato.MyoMapper</string>
    <key>CFBundleName</key>
    <string>MyoMapper</string>
    <key>CFBundleDisplayName</key>
    <string>MyoMapper</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>3.1.9</string>
    <key>CFBundleVersion</key>
    <string>3.1.9</string>
    <key>NSHumanReadableCopyright</key>
    <string>Balandino Di Donato - 2018</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>mapper</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>mapper</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleTypeIconFile</key>
        <string>Icon</string>
        <key>NSPersistentStoreTypeKey</key>
        <string>XML</string>
      </dict>
    </array>
  </dict>
</plist>
