.DS_Store
MyoMapper/application.macosx
MyoMapper/application.windows32
MyoMapper/application.windows64
MyoMapper-Mac
MyoMapper-Mac.zip
MyoMapper-Win32
MyoMapper-Win32.zip
MyoMapper-Win64
MyoMapper-Win64.zip
Myo Mapper/Builds/MacOSX/build/Debug/Myo Mapper.app/Contents/MacOS/Myo Mapper
