.DS_Store
MyoMapper/application.macosx
MyoMapper/application.windows32
MyoMapper/application.windows64
MyoMapper/MyoMapper.windows64.zip
MyoMapper/MyoMapper-Mac
MyoMapper/MyoMapper-Mac.zip
MyoMapper/MyoMapper-Win32
MyoMapper/MyoMapper-Win32.zip
MyoMapper/MyoMapper-Win64
MyoMapper/MyoMapper-Win64.zip
MyoMapper-Mac
MyoMapper-Mac.zip
MyoMapper-Win32
MyoMapper-Win32.zip
MyoMapper-Win64
MyoMapper-Win64.zip
Archive.zip
MyoMapper-Win-32
MyoMapper-Win-32.zip
MyoMapper-Win-64
MyoMapper-Win-64.zip
Myo Mapper/Builds/MacOSX/build/Debug/Myo Mapper.app/Contents/Info.plist
Myo Mapper/Builds/MacOSX/build/Debug/Myo Mapper.app/Contents/MacOS/Myo Mapper
Myo Mapper/Builds/MacOSX/build/Debug/Myo Mapper.app/Contents/PkgInfo
Myo Mapper/Builds/MacOSX/build/Debug/Myo Mapper.app/Contents/Resources/RecentFilesMenuTemplate.nib
Myo Mapper/Builds/MacOSX/Myo Mapper.xcodeproj/project.xcworkspace/xcuserdata/balandinodidonato.xcuserdatad/UserInterfaceState.xcuserstate
Myo Mapper/Builds/MacOSX/Myo Mapper.xcodeproj/xcuserdata/balandinodidonato.xcuserdatad/xcschemes/Myo Mapper (App).xcscheme
Myo Mapper/Builds/MacOSX/Myo Mapper.xcodeproj/xcuserdata/balandinodidonato.xcuserdatad/xcschemes/xcschememanagement.plist
Myo Mapper/Builds/MacOSX/build/Debug/Myo Mapper.app/Contents/MacOS/Myo Mapper

# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
Myo Mapper/Builds/MacOSX/Myo Mapper.xcodeproj/project.pbxproj

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Windows Ignores
*.vs
*.user
x64